[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
EnvironmentFile=/root/home/django/secrets.txt
WorkingDirectory=/root/home/django/stroe
ExecStart=/root/home/django/stroe/venv/bin/gunicorn \
        --access-logfile - \
        --workers 3 \
        --bind unix:/run/gunicorn.sock \
        stroe.wsgi:application

[Install]
WantedBy=multi-user.target
