server {
    server_name stroe.co.uk www.stroe.co.uk 178.62.102.16;

    location = /favicon.ico { access_log off; log_not_found off; }

    location /static {
        alias /root/home/django/stroe/templates/static;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;
    }

    access_log      /var/log/nginx/stroe.access.log combined;
    error_log       /var/log/nginx/stroe.error.log warn;
    
}
