{% extends 'base.html' %}
{% block content %}
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h2 class="masthead-heading mb-0">Under Costruction</h2>
        <h3 class="masthead-subheading mb-0">Please check back soon!</h3>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
{% endblock %}
