{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {% for field in form.visible_fields %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:'form-control' }}
              {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          {% endfor %}
        <input class="btn btn-primary" type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
{% endblock %}
