{% extends 'base.html' %}
{% load static %}

{% block content %}
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h2 class="masthead-heading mb-0">The Newlyweds...</h2>
        <h3 class="masthead-subheading mb-0">Mr and Mrs Stroe</h3>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'img/01_light.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">From the happy couple...</h2>
            <p>We would like to take this opportunity to thank everyone again for joining us for our special day, and for all the lovely and thoughtful presents. We had the most amazing day all thanks to you.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'img/02_light.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Beyond the call of duty...</h2>
            <p>We need to take this opportunity to thank the extended bridal party, my Bridesmaids Kelly, Maddie, Alison and Mel for all their help in planning the wedding and events leading up to our big day. We also would like to thank Ed (Flav’s Best Man) and Stuart (Usher and Rachel’s brother), for doing such an amazing job getting the day to run smoothly.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'img/03_light.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Our Ohana...</h2>
            <p>Finally we would like to thank our families, our constant supporters and cheerleaders. We are so lucky that our families have been so welcoming to both of us, truly enabling us to become one big happy family.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
